body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.stage {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmax;
  position: absolute;
  border-radius: 100vmax;
  background-color: #000; /* 粒子の背景色を黒に設定 */
  color: #fff; /* 粒子内のテキストがある場合は白に設定 */
  pointer-events: none;
}

input {
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
}
