body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

body {
  background: url(/img.jpg) center no-repeat;
  background-size: cover;
}

canvas,
#webgl {
  mix-blend-mode: difference;
}

.stage {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmax;
  position: absolute;
  border-radius: 100vmax;
  mix-blend-mode: difference;
  pointer-events: none;
}

input {
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
}
